<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <h1>Login Here</h1>
        <hr>

        <form action="" method="post" class="login-form">
            <label for="uname">Username:</label>
            <input type="text" name="uname" id="uname" placeholder="Enter your username" required>
            <label for="pass">Password:</label>
            <input type="password" name="pass" id="pass" placeholder="Enter your password" required>
            <input type="submit" value="Login">
            <br>
            <h4>If not Registered <a href="./register">Register Here</a></h4>
        </form>
    </div>
</body>
</html>